__pycache__/
*.pyc

node_modules/
dist/

*.log
.env

erp-backend/.venv/
erp-backend/db.sqlite3
erp-backend/requirements-full.txt

erp-frontend/node_modules/
erp-frontend/dist
erp-frontend/.env
erp-frontend/.vite

change_email.sh